* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
}

.navigation {
  font-size: 24px;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  min-height: 15vh;
}

.navigation nav {
  padding-top: 10px;
  width: 100%;
  z-index: 10;
  transition: all 0.5s;
  display: flex;
  min-height: 8vh;
  align-items: center;
}

.navigation nav #logo {
  padding: 0px 20px;
  flex-basis: 50%;
  font-family: "Poppins";
  display: flex;
  cursor: pointer;
  color: #fdfd96;
  padding-left: 20px;
}

.navigation nav img {
  padding-left: 10px;
}

.navigation nav .nav-links {
  display: flex;
  justify-content: space-around;
  flex-basis: 50%;
}

.navigation nav .nav-links a {
  color: #fdfd96;
  text-decoration: none;
}

.navigation nav .nav-links :hover {
  opacity: 0.6;
}

.navigation #clock {
  opacity: 1;
  color: #fdfd96;
}

@media screen and (max-width: 1000px) {
  .introduction nav {
    height: 70px;
    flex-wrap: wrap;
    opacity: 0.5;
  }

  .navigation nav #logo .burger {
    padding-top: 15px;
    z-index: 100;
    position: absolute;
    right: 50px;
    cursor: pointer;
  }

  .navigation nav #logo .burger .line1,
  .navigation nav #logo .burger .line2,
  .navigation nav #logo .burger .line3 {
    width: 20px;
    height: 3px;
    background-color: #fdfd96;
    margin: 4px 0px;
  }

  .navigation nav #logo .burger .line1 {
    transition: all 0.5s;
  }

  .navigation nav #logo .burger .line1-animate {
    transform: rotateZ(45deg) translate(40%, 50%);
  }

  .navigation nav #logo .burger .line2 {
    transition: all 0.5s;
  }

  .navigation nav #logo .burger .line2-animate {
    width: 0%;
  }

  .navigation nav #logo .burger .line3 {
    transition: all 0.5s;
  }

  .navigation nav #logo .burger .line3-animate {
    transform: rotateZ(-45deg) translate(45%, -50%);
  }

  .navigation nav .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #282c34;
    min-height: 30vh;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
  }

  .navigation nav .burger-animation {
    opacity: 1;
    width: 100%;
  }

  .navigation .headline h1 {
    font-size: 20px;
  }

  .navigation .headline p {
    padding: 0px 10px;
    text-align: center;
    line-height: 1.6em;
  }
}

.footer-basic {
  padding: 40px 0;
  background-color: #282c34;
  color: #4b4c4d;
  bottom: 0;
  width: 100%;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  color: #fdfd96;
  font-family: "Montserrat", sans-serif;
}

.footer-basic ul a:hover {
  opacity: 0.6;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .copyright {
  font-family: "Poppins";
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #fdfd96;
  margin-bottom: 0;
}
