<%- include('../_global.ejs') %>
<div class="info">
  <h1><%= text %> </h1>
  <h4>You will now be redirected...</h4>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/global.js"></script>
<script src="/js/verify/verify.js"></script>
</html>
