<%- include('../_global.ejs') %>
<div class="info">
  <div class="container-main">
    <div class="video-player-container">
      <p id="video-player-text">Insert your link below</p>
      <iframe id="video-player" src="" title="W2G Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div id="video-player-inputs">
      <button type="submit" id="platform-btn"><i class="fa-brands fa-youtube"></i></button>
      <input id="video-input" type="text" placeholder="Insert YouTube Link here..."></input>
      <button type="submit" id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/global.js"></script>
<script src="/js/w2g/w2g.js"></script>
<script src="https://kit.fontawesome.com/4e5b8d4118.js" crossorigin="anonymous"></script>
</html>