
<%- include('../_global.ejs') %>
<section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5" style="font-weight: bolder;">Account recovery</h2>

                <form action="/recovery" method="post" name="registerform" >
                  <div class="form-outline mb-4">
                    <input required name="password" type="password" id="password" placeholder="Password" title="Enter a password" class="form-control form-control-lg" autocomplete="off"/>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input required type="password" id="passwordRepeat" placeholder="Repeat your password" title="Repeat your password" class="form-control form-control-lg" autocomplete="off"/>
                      <p id="message"></p>
                  </div>
                  
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" id="submitbutton"class="btn btn-primary btn-lg">Recover account</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/global.js"></script>
<script src="/js/recover/recoveryform.js"></script>
</html>
