<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="icon" href="/img/penos.ico" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/login/style.css" />
    <title>Ketakinder</title>
  </head>
  <body onload="startTime()" onload="onbeforeunload()">
    <div class="navigation">
      <nav>
        <div id="logo">
          <h1>Ketakinder</h1>
          <img src="/img/penos.png" alt="" />
          <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        </div>
        <div class="nav-links">
          <a id="first" href="/">Home</a>
          <a id="second" href="/register">Register</a>
          <a id="clock"></a>
        </div>
      </nav>
    </div>
    <div class="container-main">
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5" style="font-weight: bolder;">Login</h2>

                  <form action="/login" method="post" name="registerform" >
                    <div class="form-outline mb-4">
                    <input required name="email" id="email" placeholder="E-Mail or Username"
                    title="characters@characters.domain" class="form-control form-control-lg" autocomplete="on"/>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input required name="password" type="password" id="password" placeholder="Password" title="Enter a password" class="form-control form-control-lg" autocomplete="on"/>
                    <p id="message"></p>
                  </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="button" id="submitbutton"class="btn btn-primary btn-lg">Login</button>
                    </div>

                    <p id="bottomtext" class="text-center text-muted mt-5 mb-0"> <a href="/recover" class="fw-bold text-body"><u>Forgot password?</u></a></p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/global.js"></script>
  <script src="/js/login/login.js"></script>
</html>
