<%- include('../_global.ejs') %> 
    <div class="content">
      <ul class="tsinfo">
      </ul>
    </div>
     <div class="footer-basic">
        <footer>
            <!-- <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div> -->
            <ul class="list-inline">
                <li class="list-inline-item" id="settings"><a href="#">Settings</a></li>
                <li class="list-inline-item" id="support"><a href="#">Support</a></li>
                <li class="list-inline-item" id="version"><a href="#">Version</a></li>
            </ul>
            <p class="copyright">Ketakinder © 2022</p>
        </footer>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/global.js"></script>
  <script src="/js/home/home.js"></script>
  <script src="https://kit.fontawesome.com/5a53b3afe1.js" crossorigin="anonymous"></script>
</html>
