#welcomebanner {
  padding: 300px 10px 10px 10px;
  height: 700px;
  text-align: center;
  font-family: "Poppins";
  color: #fdfd96;
  font-size: 60px;
  background-image: url(../../img/christian.gif);
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
