.container-main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#welcomebanner {
  text-align: center;
  font-family: "Poppins";
  color: #fdfd96;
  font-size: 60px;
}
